@if(graphData) {
    <graph-viewer
        [graphData]="graphData"
        [animate]="true"
        [layoutSettings]="graphLayoutSettings"
    ></graph-viewer>
}


@if (game && game.users && game.users.length) {
    <div class="users">
        <div class="users-container">
            @for (user of game.users; track user.uuid) {
                <app-user [user]="user"></app-user> 
            }
        </div>
    </div>
}

@if (controllable) {
    <qr-code [value]="getControllerLink()"></qr-code>
    <button (click)="requestGameControl()">Request Game Control</button>
}

<div class="dev">
    <button (click)="_development_generatePost()">Generate Post</button>
    <button (click)="_development_ratePost()">Rate Post</button>
</div>

<footer>
    <app-score></app-score>
</footer>
