<!-- SOCIAL GRAPH -->
@if(graphData) {
    <graph-viewer
        [graphData]="graphData"
        [animate]="true"
        [interactive]="false"
        [zoom]="zoom"
        [highlightNode]="highlightUser"
        [highlightEdge]="highlightUsersConnection"
        [addNodes]="addGraphNodes"
        [addEdges]="addGraphEdges"
        [clearNodesHighlight]="clearUsersHighlight"
        [clearNodesSelection]="clearUserSelection"
        [clearEdgesHighlight]="clearConnectionsHighlight"
        [snapToNode]="snapToNode"
        [snapCenter]="snapToCenter"
        [layoutSettings]="graphLayoutSettings"
        [nodeRenderer]="renderNode"
        [edgeRenderer]="renderEdge"
        (graphInitialised)="graphUpdated($event)"
        (graphUpdated)="graphUpdated($event)"
        (onNodeSelectChange)="log('nodeSelectChange', $event)"
    ></graph-viewer>
}

<!-- HEROS' PROFILE --> 
@if(game) {
    <div class="hero">
        @if(game.hero) {
            <app-user
                [user]="getUserById(game.hero)"
                [following]="userFollow(game.hero)"
                [followers]="userIsFollowed(game.hero)"
            ></app-user>
        }
    </div>
}

<!-- HEROS' FEED --> 
<app-feed></app-feed>

<!-- OVERLAYS -->

@if (controllable) {
    <app-screensaver></app-screensaver>
    <qr-code [value]="getControllerLink()" (click)="openController()"></qr-code>
}

<app-footer></app-footer>
