@if (user) {
    <div class="user-card">
        <div class="user-info">
            <h3>{{ user.name }} {{ user.surname }}</h3>
            <div class="user-profile-picture">
                <img [src]="user.profile_picture" alt="User profile picture" class="profile-picture">
            </div>
            <p class="bio">{{ user.bio }}</p>
            <div class="user-details">
                <p><strong>Age:</strong> {{ user.age }}</p>
                <p><strong>Lives in:</strong> {{ user.residence.city }}, {{ user.residence.country }}</p>
                <p><strong>Occupation:</strong> {{ user.occupation }}</p>
                <p><strong>Gender:</strong> {{ user.gender }}</p>
            </div>
            <div class="traits">
                <h4>Traits:</h4>
                <!-- <ul> -->
                    @for (trait of user.traits; track trait) {
                        <div class="trait">{{ trait }}</div>
                    }
                <!-- </ul> -->
            </div>
        </div>
    </div>
}