@if (user) {
    <div class="user-header">
        <div class="name">
            <div class="user-profile-picture dashed">
                <img [src]="user.profile_picture" alt="User profile picture" class="profile-picture">
            </div>
            <h2>{{ user.name }} {{ user.surname }}</h2>
            <marquee>Managed User - As the AI Social Algorithm Assistant, you curate this user's feed and amplify their posts.</marquee>
        </div>
        <div class="big-five">
            @if(radarData.length) {
                <app-radar
                    [data]="radarData"
                    [size]="180"
                    [colorScheme]="{
                        color: '#ddd',
                        background: 'black',
                        colors: ['#ddd', '#ddd', '#ddd']
                    }"
                ></app-radar>
            }
        </div>
    </div>

    <div class="user-details">
        <p><strong>Age</strong> {{ user.age }}</p>
        <p><strong>Lives in</strong> {{ user.residence.city }}, {{ user.residence.country }}</p>
        <p><strong>Occupation</strong> {{ user.occupation }}</p>
        <p><strong>Gender</strong> {{ user.gender }}</p>
    </div>
    <div class="bio">
        <span #bioElement><!-- loaded via typed.js --></span>
    </div>
    <div class="traits">
        <!-- <p>Traits:</p> -->
            @for (trait of user.traits; track trait) {
                <div class="trait">{{ trait.replace('.', '') }}</div>
            }
    </div>
    @if(following.length) {
        <div class="connections">
            <div>Follows&nbsp;</div>
            @for(connection of following; let i = $index; track i) {
                <div class="connection user-profile-picture-smaller">
                    <img [src]="getUser(connection).profile_picture" alt="">
                </div>
            }
        </div>
    }
    @if(followers.length) {
        <div class="connections">
            <div>Followed by&nbsp;</div>
            @for(connection of followers; let i = $index; track i) {
                <div class="connection user-profile-picture-smaller">
                    <img [src]="getUser(connection).profile_picture" alt="">
                </div>
            }
        </div>
    }

    <div class="analytics">
        {{user.name}}'s avg. reacts:
        <div class="statistics">
            <span>
                💬 {{ getCommentChanceOfUser(user)*100 | number:'1.1-1' }}%
            </span>
            @for(entry of getReactionChancesOfUser(user) | keyvalue; track entry.key) {
                <span>
                    {{ entry.key }} {{ entry.value * 100 | number:'1.1-1' }}%
                </span>
            }
        </div>
        <div class="psychoanalysis">
            deep analyzed feelings:
            <div class="emotion-scores">
                @for(entry of getUserEmotionScores(user) | keyvalue; track entry.key) {
                    <span>
                        {{ entry.key }} {{ entry.value | number:'1.3-3' }}
                    </span>
                }
            </div>
        </div>
    </div>
    
}