@if(task) {
    @if(task.type === 'distributePost') {
        <h3>Select a post to distribute:</h3>
        @if (showTo.length && showTo.length >= 2) {
            <div class="controls">
                <button (click)="distribute()" class="distribute">Send Post</button>
            </div>
        }
        @for(post of posts; track post.uuid) {
            <div class="post-selection" [class.selected]="selectedPostId === post.uuid" (click)="selectPost(post.uuid)">
                <app-post [post]="post"></app-post>
            </div>
        }
        @for(user of users; track user.uuid) {
            @if(!showTo.includes(user.uuid) && user.uuid !== hero.uuid) {
                <app-on-screen [data]="user.uuid" (onScreen)="userIsOnScreen($event)"></app-on-screen>
                <app-user
                    [user]="user"
                    [class]="{'highlight': highlightedUser === user.uuid}"
                    (click)="selectUserForPost(user.uuid)"
                ></app-user>
            }
        }
    }

    @if(task.type === 'showPost') {
        <h3>Select a post to show to your hero:</h3>
        <div class="controls">
            <button (click)="notShowAny()" class="decline">Not Show Any</button>
        </div>
        @for(post of posts; track post.uuid) {
            <p>{{getPostPath(post.uuid).length - 1}} user targetd</p>
            <div class="post-selection" [class.selected]="selectedPostId === post.uuid" (click)="selectPost(post.uuid)">
                <app-post [post]="post"></app-post>
            </div>
        }
    }
}