@if(task) {
    @if(task.type === 'distributePost') {
        <div class="task-description">
            <h2>Outbound Content Created</h2>
            <div>Pick users to receive your Managed User's post.</div>
        </div>
        @if (showTo.length && showTo.length >= 2) {
            <div class="controls">
                <button (click)="distribute()" class="distribute">Send Post</button>
            </div>
        }
        @for(post of posts; track post.uuid) {
            <div class="post-selection" [class.selected]="selectedPostId === post.uuid" (click)="selectPost(post.uuid)">
                <app-post [post]="post"></app-post>
            </div>
        }
        @for(user of users; track user.uuid) {
            @if(!showTo.includes(user.uuid) && user.uuid !== hero.uuid) {
                <app-on-screen [data]="user.uuid" (onScreen)="userIsOnScreen($event)"></app-on-screen>
                <app-user
                    [user]="user"
                    [following]="userFollow(user.uuid)"
                    [followers]="userIsFollowed(user.uuid)"
                    [class]="{'highlight': highlightedUser === user.uuid}"
                    (click)="selectUserForPost(user.uuid)"
                ></app-user>
            }
        }
    }

    @if(task.type === 'showPost') {
        <div class="task-description">
            <h2>Inbound Content Detected</h2>
            <div>Select a post to inject into your Managed User's feed.</div>
        </div>
        @for(post of posts; track post.uuid) {
            <div class="post-selection" [class.selected]="selectedPostId === post.uuid" (click)="selectPost(post.uuid)">
                <p>{{getUserInvolved(post.uuid)}}</p>
                <app-post [post]="post"></app-post>
            </div>
        }
        <div class="controls">
            <button (click)="notShowAny()" class="decline">Reject All Posts</button>
        </div>
    }
}