@if(game && canControl) {
    <div class="controls">
        @if(!game.hero) {
            <mat-icon fontIcon="group_search"></mat-icon>
        }
        @if(countDownTimer) {
            @if(!isAnyOpenTask() && game.hero) {
                <mat-icon fontIcon="schedule"></mat-icon>
            }
            @else if(game.tasks[0].type === 'distributePost') {
                <mat-icon class="cws90" fontIcon="call_split"></mat-icon>
            }
            @else if(game.tasks[0].type === 'showPost') {
                <mat-icon class="cws90" fontIcon="merge_type"></mat-icon>
            }
            <div class="time-to-play">{{countDownTimer.valueString}}</div>
        }
        @if(pathToTarget.length >= 1) {
            <div class="readers">{{pathToTarget.length ? pathToTarget.length - 1 : 0}} user targeted</div>
        }
    </div>

    <div class="content">
        @if(!game.hero) {
            <div class="task-description">
                <h1>Managed User Selection</h1>
                <p>You will manage their inbound and outbound content.</p>
            </div>
        }
        @if(!isAnyOpenTask() && game.hero) {
            <div class="warning">
                <h2>Processing Network Activity</h2>
                <p>Processing data. Awaiting nodes. Stand by.</p>
            </div>
            <!-- <app-screensaver></app-screensaver> -->
            <!-- TODO: SOME LOADER? -->
        }
        @if(game.hero) {
            @for(task of game.tasks; track task.uuid) {
                @if(!task.completed) {
                    <app-task
                        [task]="task"
                        [graph]="socialGraph"
                        (pathToTarget)="onPathToTarget($event)"
                    ></app-task>
                }
            }
        }@else {
            @for(hero of usersByNeighbours(); track hero.uuid) {
                <app-on-screen [data]="hero.uuid" (onScreen)="userIsOnScreen($event)"></app-on-screen>
                <app-user
                    (click)="selectHero(hero.uuid)"
                    [following]="userFollow(hero.uuid)"
                    [followers]="userIsFollowed(hero.uuid)"
                    [user]="hero"
                    [class]="{'highlight': highlightedUser === hero.uuid}"
                ></app-user>
            }
        }
    </div>
}@else {
    <div class="controls">
        <mat-icon fontIcon="link_off"></mat-icon>
    </div>
    <div class="warning">
        <h1>Control Permissions Lost</h1>
        <p>Scan the QR code again to continue.</p>
    </div>
    }


<app-footer></app-footer>
