@if(post) {
    <div class="post-header">
        <div class="user-profile-picture-medium">
            <img [src]="author.profile_picture" alt="">
        </div>
        <div class="post-right">
            <h3>{{author.name}} {{author.surname}}</h3>
            <div class="created"><small>{{post.f_created | date: 'dd/MM/yy, HH:mm'}}</small></div>
        </div>
    </div>
    <div class="post-text">
        {{post.text}}
    </div>
    <div class="post-footer">
        @if(hasReactions()) {
            <div class="reactions">
                @for(reactionType of reactionTypes; track reactionType) {
                    @if(getReactionsByType(reactionType).length > 0) {
                        <div class="reaction-group">
                            <span class="reaction-icon">{{reactionType}}</span>
                            <span class="reacted-by">
                                @for(reaction of getReactionsByType(reactionType); track reaction.uuid) {
                                    {{getUserById(reaction.author).name}}@if(!$last){,}
                                }
                            </span>
                        </div>
                    }
                }
            </div>
        }
        <div class="comments">
                @for(comment of game.comments.slice().reverse(); track comment.uuid) {
                    @if(comment.parent === post.uuid) {
                    <app-comment [comment]="comment"></app-comment>
                }
            }
        </div>
    </div>
}