/* You can add global styles to this file, and also import other style files */

$space: 1.5rem;

* {
    box-sizing: border-box;
}

html, body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: small;
    // overflow: hidden;
}

button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
    border: 1px solid white;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    transition: all 0.3s;
    font-size: large;

    &:hover {
        background-color: white;
        color: black;
    }
}

app-main-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding: $space;

    h1 {
        margin-bottom: 0;
        font-size: calc(2 * $space);
    }
    h4 {
        margin-top: 0;
        font-weight: 300;
        font-size: calc($space / 1.7);
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        button { width: 100%;}
    }
}

app-game {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    graph-viewer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    app-feed {
        position: absolute;
        width: 30%;
        height: 100%;
        right: 0;
        top: 0;
    }

    .hero {
        position: absolute;
        width: 30%;
        height: 100%;
        left: 0;
        top: 0;
    }

    qr-code {
        position: absolute;
        left: 50%;
        bottom: $space;
        transform: translateX(-50%);
    }

    .controls {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}

app-controller {
    display: block;
    width: 100%;
    // height: 100%;
    overflow: auto;
    padding-bottom: calc($space * 10);
}

app-user {
    display: block;
    &.highlight {
        .user-card {
            border: 3px solid #ddd;
        }
    }
    .user-card {
        padding: $space;
        border: 1px solid #ddd;
        // margin: $space;
        margin-bottom: $space;
        img.profile-picture {
            width: calc($space * 7);
            height: auto;
        }
    }
}

app-on-screen {
    display: block;
}